@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUs>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master2.cshtml";
}


    <div class="hero-section">
        <div class="text-overlay">
            <h1>About Us</h1>
            <p><a class="centre-part-about" href="/">Home</a> > <span>About</span></p>
        </div>
    </div>

    <!-- nav bar elements go here -->
<div class="about-main container">
        <div>
            <img class="about-pic-main" src="../images/about-old-man-7.png" alt="girl-standing">
            <p>Tina Fox CEO & Founder at Onatrix</p>
        </div>
        <div class="about-sub-1">
            <p class="about-sub-h"> "We have over 25 years of experience providing expert financial advice
                to both businesses and individuals."</p>
            <p class="about-sub-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis
                sollicitudin.
                Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.
            </p>
            <p class="about-sub-p">Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut
                maximus
                arcu sapien nec
                elit. Suspendisse rutrum.
            </p>
            <p class="about-sub-p">
                Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est.
                Pellentesque imperdiet tortor ut elementum viverra.
            </p>
            <p class="about-sub-p">Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero,
                sit
                amet hendrerit elit
                turpis
                nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat
                consequat,
                orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna
                dapibus
                viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero</p>
            <p class="about-sub-p">
                Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien
                nec
                elit. Suspendisse rutrum i commodo, eros quis consequat consequat.
            </p>
            <p class="about-sub-p">
                Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est.
                Pellentesque imperdiet tortor ut elementum viverra.
            </p>
            <p class="about-sub-p">Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod
                orci urna
                non est.
                Pellentesque imperdiet tortor ut elementum viverra</p>
        </div>
    </div>
    <!-- section about content wrapper trusted -->
    <section>
        <div class="image-container-about">
            <div class="text-overlay container">
                <h2>GREAT REVIEWS FOR OUR SERVICES</h2>
                <h1>Trusted by some <br> Biggest Names</h1>
                <em>
                    <p>Seamlessly visualize quality intellectual capital without superior collaboration and
                        idea-sharing.
                        Holistically pontificate installed base portals.</p>
                </em>
                <p>★★★★★</p>
                <div class="testimonial">
                    <p>Kevin Gardner</p>
                    <p>Swebank</p>
                </div>
            </div>
            <img class="about-img-1" src="../images/about-old-man-1.png" alt="Your Image">

        </div>
    </section>

    <!-- contenty wrapper section cards -->
    <section class="section-cards_01">
        <div class="container_xx-01">
            <div class="text-center_01">
                <p class="experts_cards_01">OUR EXPERT</p>
                <h3 class="team-members_01 about-color">A team of professionals <br>
                    with years of experience</h3>
            </div>
            <div class="team-container_01 ">
                <div class="team-row_01">
                    <div class="card_01">
                        <img src="../images/about-old-man-1.png" alt="Brandon Newton">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Brandon Newton</h5>
                            <p class="same-color-p_01 p-left">Financial Advisor at Onatrix</p>
                        </div>
                    </div>
                    <div class="card_01">
                        <img src="../images/about-old-man-3.png" alt="AJ Carter">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">AJ Carter</h5>
                            <p class="same-color-p_01 p-left">Financial Advisor at Onatrix</p>
                        </div>
                    </div>
                    <div class="card_01">
                        <img src="../images/about-old-man-5.png" alt="Aaron Lambert">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Aaron Lambert</h5>
                            <p class="same-color-p_01 p-left">Financial Advisor at Onatrix</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-container_01">
                <div class="team-row_01">
                    <div class="card_01 small-card_01">
                        <img src="../images/about-old-man-2.png" alt="Tina Fox">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Tina Fox</h5>
                            <p class="same-color-p_01 p-left">CEO & Founder at Onatrix</p>
                        </div>
                    </div>
                    <div class="card_01 small-card_01">
                        <img src="../images/about-old-man-6.png" alt="Brandon Kerr">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Brandon Kerr</h5>
                            <p class="same-color-p_01 p-left">CFO & Co-Founder at Onatrix</p>
                        </div>
                    </div>
                    <div class="card_01 small-card_01">
                        <img src="../images/about-old-man-4.png" alt="Miranda Dayton">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Miranda Dayton</h5>
                            <p class="same-color-p_01 p-left">Head of HR at Onatrix</p>
                        </div>
                    </div>
                    <div class="card_01 small-card_01">
                        <img src="../images/about-old-man-7.png" alt="Kevin Gardner">
                        <div class="card-body_01">
                            <h5 class="card-text_01 about-color p-left">Kevin Gardner</h5>
                            <p class="same-color-p_01 p-left">Banking Advisor at Swedbank</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer man standing content wrapper-->
    <section class="flex-box-container-man">
        <div class="image-container">
            <div class="contact-info">
                <h2 class="img-text">Let us know about <br> your next project</h2>
                <p>
                    <span class="icon icon-per"><i class="fa-solid fa-location-dot"></i></span> Office location<br>
                    Klarabergsviadukten 90, 111 52 Stockholm
                </p>
                <p>
                    <span class="icon icon-per"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path
                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg></span> Phone number<br>
                    +46 8 123 456 75
                </p>
                <p>
                    <span class="icon icon-per">&#9993;</span> E-mail address<br>
                    sales@onatrix.com
                </p>
            </div>
        </div>
    </section>
