@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectContent>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master2.cshtml";
}


    <!-- hero Section  -->
    <div class="hero-section">
        <div class="text-overlay">
            <h1> Annual Report for Juva Inc.</h1>
            <p><a class="centre-part-anual" href="/">Home > <span> Projects</span> > <span> Annual Report for Juva
                        Inc</span>
                </a> </span></p>
        </div>
    </div>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#circle-half"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>

    </div>

    <!-- main content wrapper anuual -->
    <main class="container">
        <div class="row g-5 anual-margin-main ">
            <div class="col-md-8">
                <h6 class="pb-4 mb-4 ">
                    <br>
                    <SPAN>📅</SPAN> June 15, 2024
                </h6>

                <p class="anual-main-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim
                    vestibulum, dapibus elit
                    quis,
                    pellentesque justo. Proin sit amet libero quis orci convallis mollis.</p>


                <article class="blog-post">
                    <img src="../images/img-annual.png" alt="img-annual-hero">
                </article>
                <h3 class="text mt-5 mb-4 anual-main-3">Suggestions for you</h3>
                <ul>
                    <li class="mb-3">Financial planning is the process of helping clients meet their financial needs
                        today and reach
                        their
                        dreams and goals tomorrow.</li>
                    <li class="mb-3">Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis,
                        nulla sed
                        euismod
                        posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue</li>
                    <li class="mb-3">
                        In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet
                        dapibus turpis.
                    </li>
                </ul>
                <div class="container anual-margin">
                    <div class="image-container">
                        <img src="../images/anual-img2.png" alt="Person with laptop">
                    </div>
                    <div class="text-container">
                        <h2 class="anual-main-3">Nunc facilisis ante quis gravida mollis</h2>
                        <p>Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus.</p>
                        <p>Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus
                            et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae
                            elementum.</p>
                    </div>
                </div>
                <div class="relationship-section">
                    <h2 class="key-point-title anual-main-3">Nullam at blandit felis, ut efficitur lorem. Nulla pharetra
                        turpis eget
                        dictum
                        condimentum</h2>
                    <p>Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc, porttitor vitae elementum eget,
                        condimentum lobortis metus. Aenean imperdiet suscipit dui
                        .</p>
                    <p>
                        Integer quis massa sit amet diam feugiat molestie. Morbi egestas arcu eu sapien accumsan, et
                        tempor velit
                        viverra. Ut varius euismod malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus
                        consequat
                        urna maximus molestie. Sed facilisis maximus quam id pretium. Donec ac orci vel quam semper
                        tristique.
                        Maecenas facilisis, urna sed congue pellentesque, justo augue semper nulla
                        .</p>
                    <p>
                        Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla
                        in lacus. Nulla
                        ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies
                        congue ac
                        pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.</p>
                </div>
                <div>
                    <img src="../images/anual-img3.png" alt="">
                </div>
                <div class="relationship-section">
                    <h2 class="key-point-title">Nunc facilisis ante quis gravida mollis</h2>
                    <p>Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus. Vestibulum
                        tempor velit
                        diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient
                        montes,
                        nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum</p>
                    <p>
                        Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla
                        in lacus. Nulla
                        ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies
                        congue ac
                        pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.</p>

                </div>
                <div>
                    <div class="tags-container">
                        <span class="tags-label">Tags:</span>
                        <span class="tag">Business</span>
                        <span class="tag">Consulting</span>
                        <span class="tag">Onatrix</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border-anual">
                <div>
                    <h4 class="fst-italic-2">Recent projects</h4><br>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none "
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#777" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0 anual-heading">Annual Report for<br>
                                        Juva Inc</h6>
                                    <small class="text-body-secondary"><span>📅</span> June 15, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#777" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0 anual-heading">Business Insights for <br>
                                        SP Group Inc..</h6>
                                    <small class="text-body-secondary"><span>📅</span> May 17, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#777" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0 anual-heading">Financial Advisors to <br>
                                        Irra Group Inc.</h6>
                                    <small class="text-body-secondary"><span>📅</span> February 6, 2024</small>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                href="#">
                                <svg class="bd-placeholder-img" width="100%" height="96"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#777" />
                                </svg>
                                <div class="col-lg-8">
                                    <h6 class="mb-0 anual-heading">Budget Planning for <br>
                                        Buccura Inc.</h6>
                                    <small class="text-body-secondary"><span>📅</span> January 3, 2024</small>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="sidebar456">
                        <div class="tags456">
                            <h3 class="h3456">Tags</h3><br>
                            <div class="tag-list456">
                                <span class="tag456">Report</span>
                                <span class="tag456">Business plans</span><br>
                                <span class="tag456">Insights</span>
                                <span class="tag456">Business</span>
                                <span class="tag456">App</span>
                                <span class="tag456">Project</span>
                                <span class="tag456">Finance</span>
                                <span class="tag456">Pricing</span>
                            </div>
                        </div>
                        <div class="help-box">
                            <h3>How can we help you?</h3>
                            <p>Online support 24/7, we are here to help you</p>

                            <div class="email-input-wrapper">
                                <input type="email" name="email" required placeholder="E-mail address"
                                    class="email-sidebar-input" style="border: none;">
                                <i class="fas fa-envelope icon-sidebar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- footer man standing content wrapper-->
    <section class="flex-box-container-man">
        <div class="image-container">
            <div class="contact-info">
                <h2 class="img-text">Let us know about <br> your next project</h2>
                <p>
                    <span class="icon icon-per"><i class="fa-solid fa-location-dot"></i></span> Office location<br>
                    Klarabergsviadukten 90, 111 52 Stockholm
                </p>
                <p>
                    <span class="icon icon-per"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                            <path
                                d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                        </svg></span> Phone number<br>
                    +46 8 123 456 75
                </p>
                <p>
                    <span class="icon icon-per">&#9993;</span> E-mail address<br>
                    sales@onatrix.com
                </p>
            </div>
        </div>
    </section>
    <!-- bs script js -->
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
