@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master2.cshtml";
}



    <div class="hero-section">
        <div class="text-overlay">
            <h1>Our Services</h1>
            <p><a class="centre-part-services" href="/">Home</a> > <span>Services</span></p>
        </div>
    </div>

    <section class="services-section">
        <h1 class="services-h1 body-about-below">
            We ProvideThe Solutions
        </h1>
        <h1 class="services-h1 body-about-below">
            To Grow Your Business Faster
        </h1>
        <div class="card-container container">
            <div class="card">
                <h2 class="card-heading">Risk Management</h2>
                <a href="/risk-managment/"><img src="../images/card-img-1.jpeg" alt="Risk Management" class="card-image"></a>
                
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="card margin-left-service">
                <h2 class="card-heading">Bonds & Commodities</h2>
                <img src="../images/card-img-2.jpeg" alt="Bonds & Commodities" class="card-image">
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="card margin-left-service">
                <h2 class="card-heading">Assurance & Audits</h2>
                <img src="../images/card-img-3.jpeg" alt="Assurance & Audits" class="card-image">
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
        </div>
        <div class="card-container container">
            <div class="card">
                <h2 class="card-heading">Tax and Trusts</h2>
                <img src="../images/card-img-4.jpeg" alt="Risk Management" class="card-image">
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="card margin-left-service">
                <h2 class="card-heading">Financial Advisor</h2>
                <img src="../images/card-img-5.jpeg" alt="Bonds & Commodities" class="card-image">
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
            <div class="card margin-left-service">
                <h2 class="card-heading">Statistic Advisors</h2>
                <img src="../images/card-img-6.jpeg" alt="Assurance & Audits" class="card-image">
                <p class="card-text">Dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non </p>
            </div>
        </div>
    </section>

    <p class="alignment-p-below-cards">
        <span class="pagination-prev">Prev</span>
        <span class="pagination-1">1</span>
        <span class="pagination-2">2</span>
        <span class="pagination-next">Next</span>
    </p>

    <section class="flex-box-container-man">
        <div class="image-container">
            <div class="contact-info">
                <h2 class="img-text">Let us know about <br> your next project</h2>
                <p>
                    <span class="icon icon-per"><i class="fa-solid fa-location-dot"></i></span> Office location<br>
                    Klarabergsviadukten 90, 111 52 Stockholm
                </p>
                <p>
                    <span class="icon icon-per"><i class="fa-regular fa-phone-flip"></i></span> Phone number<br>
                    +46 8 123 456 75
                </p>
                <p>
                    <span class="icon icon-per">&#9993;</span> E-mail address<br>
                    sales@onatrix.com
                </p>
            </div>
        </div>
    </section>
